.disable-body-scroll{
	overflow: hidden;
}

.find-job-main-wrapper{
	position: relative;
}

.top-notification{
	background-color: #E5F0FF;
	width: 100%;
	height: 48px;
	display: flex;
	align-items: center;
	margin-top: 16px;
	border-left: solid 2px #0063F7;
	padding: 16px;
	font-family: 'Nunito';
	font-size: 12px;
}

.top-notification > img {
	margin-right: 16px;
}

.top-notification > span a {
	text-decoration: none;
	color: #0063F7;
	font-family: 'Nunito Bold';
}

.find-job-title {
	font-family: 'Nunito Bold';
	font-size: 20px;
	margin-top: 16px;
	color: #1C1C28;
}

.find-job-content-wrapper{
	width: 1004px;
	margin: auto;
	font-family: 'Nunito';
	margin-top: 16px;
}

.find-job-tabs-btn{
	display: flex;
	background: white;
	width: fit-content;
	border-bottom: solid 1px #E5F0FF;
	border-radius: 0 8px 0 0;
}

.find-job-tabs-btn-active {
	font-family: 'Nunito Bold';
	border-bottom: solid 2px #3E7BFA;
}

.find-job-tab-btn-item{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 156px;
	height: 40px;
	font-size: 14px;
	cursor: default;
}

.find-job-content-body{
	min-height: 600px;
	background: white;
	padding: 24px;
	border-radius: 0 8px 8px 8px;
}

.find-job-content-body-filter{
	display: flex;
	justify-content: flex-end;
	font-size: 14px;
}

.find-job-content-body-filter{
	padding-bottom: 16px;
	border-bottom: solid 1px #60617029;
}

.filter-container span {
	margin-right: 8px;
}

#job-type-select{
	border: none;
    outline: none;
    color: #555770;
    font-size: 14px;
    font-family: 'Nunito Light';
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #FAFAFC;
    background-image: url(../../assets/icons/vuesax-linear-arrow-down.svg);
    background-repeat: no-repeat;
    background-position-x: 95%;
	background-position-y: 50%;
    width: 184px;
	height: 40px;
	padding: 8px;
	box-shadow: 0px 0.5px 2px #00000029;
	border-radius: 8px;
}

.find-job-all-jobs-item{
	display: flex;
	padding: 16px 0;
	justify-content: space-between;
	border-bottom: solid 1px #60617029;
}

.job-item-col-1{
	display: flex;
	flex-direction: column;
	max-width: 450px;
}

.job-item-col-title {
	font-family: 'Nunito Bold';
	font-size: 16px;
	color: #3E7BFA;
	cursor: pointer;
}

.job-item-col-title > span{
	font-family: 'Nunito Light';
}

.job-item-col-content{
	margin-top: 16px;
	font-size: 14px;
}

.job-item-col-2 {
	min-width: 300px;
}

.job-follow {
	width: 116px;
	height: 32px;
	border: solid 1px #3E7BFA;
	outline: none;
	border-radius: 8px;
	background: none;
	color: #3E7BFA;
	font-family: 'Nunito';
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.job-follow:focus{
	outline: none;
}

.job-follow	 > img {
	width: 16px;
	height: 16px;
	margin-right: 4px;
}

.time-and-author{
	font-family: 'Nunito';
	font-size: 14px;
	margin-top: 8px;
}

.post-time {
	color: #3E7BFA;
}

a.post-author{
	text-decoration: none;
}

.received-offer{
	font-family: 'Nunito';
	font-size: 14px;
	margin-top: 8px;
}

.received-offer > span {
	color: #3E7BFA;
}

.fixed-list-item{
	display: flex;
	font-family: 'Nunito';
	font-size: 14px;
}

.fixed-list-item-info{
	display: flex;
}

.fixed-list-item-info > div{
	margin-left: 16px;
	display: flex;
	align-items: center;
}

.fixed-list-item-info > div > img {
	width: 24px;
	height: 24px;
	margin-right: 4px;
}

.job-following{
	background: #0063F7;
	color: white;
	border: none;
	outline: none;
	border-radius: 8px;
	width: 146px;
	height: 32px;
	font-family: 'Nunito';
	font-size: 14px;
	box-shadow: 0px 2px 4px #60617029;
	display: flex;
	align-items: center;
	justify-content: center;
}

.job-following:focus{
	outline: none;
}

.job-following > img{
	width: 16px;
	height: 16px;
	margin-right: 8px;
}

.find-job-popup{
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: #555770;
	background: rgba(85, 87, 112, 0.5);
	position: fixed;
	right: -2000px;
	top: 0;
	transition-duration: 0.3s;
}

.find-job-popup-show{
	right: 0;
	transition-duration: 0.3s;
}

.find-job-popup-content{
	width: 1152px;
	margin-left: auto;
	background: #E4E4EB;
	height: 100vh;
	overflow-y: scroll;
	position: relative;
}

.find-job-popup-content-header{
	height: 64px;
	display: flex;
	align-items: center;
	background-color: white;
	padding: 24px;
	box-shadow: 0px 0.5px 2px #60617029;
	position: sticky;
	 top: 0;
	 left: 0;
}

.close-find-job-popup-btn{
	margin-right: 8px;
	transform: rotate(90deg);
	cursor: pointer;
}

.find-job-popup-content-header > span {
	font-family: 'Nunito Bold';
	font-size: 14px;
	color: #1C1C28;
	cursor: pointer;
}

.find-job-popup-content-body-upper-section{
	display: flex;
}

.about-user-left-find-job {
	border-left: solid 1px rgba(112, 112, 112, 0.3);
	margin: 24px 0;
	padding: 0 24px;
	font-size: 14px;
}

.about-user-left-find-job img{
	width: 128px;
	height: 128px;
	border-radius: 50%;
}

.about-user-left-find-job-name{
	display: flex;
	flex-direction: column;
	margin-top: 12px;
}

.find-job-star-rating {
	margin-bottom: 12px;
}

label.star {
	margin-bottom: unset !important;
}


.content-body-upper-section-col-1{
	flex: 1;
	margin: 24px;
	display: flex;
	flex-direction: column;
	border-bottom: dashed 1px #555770;
}

.content-body-upper-section-col-1-title{
	font-size: 20px;
	font-family: 'Nunito Bold';
	color: #1C1C28;
	border-bottom: dashed 1px #555770;
	padding-bottom: 24px;
	display: block;
}

.upper-section-col-1-parts{
	display: flex;
	flex-direction: column;
}

.upper-section-sub-title{
	margin: 8px 0;
	font-family: 'Nunito Bold';
	font-size: 16px;
}

.upper-section-camp-desc{
	font-size: 14px;
	font-family: 'Nunito';
	line-height: 24px;
	padding-bottom: 8px;
	display: block;
	max-width: 90%;
}

.upper-section-col-1-parts-sections{
	display: flex;
	padding: 8px 0;
	font-size: 14px;
	font-family: 'Nunito';
	border-top: dashed 1px #555770;
	width: 70%;
	
}

.upper-section-col-1-parts-sections > div {
	display: flex;
	flex-direction: column;
}

.upper-section-col-1-parts-sections > div > span{
	margin-top: 8px;
	color: #28293D;
}

.upper-section-col-1-parts-sections > div:nth-child(1) {
	min-width: 200px;
	font-family: 'Nunito Bold';
}

.find-job-popup-content-body-below-section{
	padding: 0 24px 24px 24px;
}

.below-section-sub-title{
	font-family: 'Nunito Bold';
	font-size: 16px;
}

.find-job-popup-content-body-below-section > .upper-section-col-1-parts-sections{
	border-top: none;
	padding: 0;
}

.find-job-payment-method{
	display: flex;
	align-items: center;
}

.find-job-pm-text{
	font-family: 'Nunito' !important;
	font-size: 14px !important;
}

.profile-pm-method{
	margin-top: 12px;
}

.find-job-payment-method img{
	width: 16px;
	height: 16px;
	margin-right: 8px;
}

.find-job-working-location{
	margin-bottom: 8px;
}

.find-job-content-title{
	display: none;
}

.find-job-section-content-detail{
	margin-top: 0;
	padding: 0;
}

.find-job-section-row-item:nth-child(even){
	background-color: white;
}

.find-job-section-row-item:nth-child(odd){
	background-color: #F2F2F5;
}

.section-table-header {
	font-family: 'Nunito';
}

.current-campaign-item{
	padding-top: 24px;
	padding-left: 24PX;
	font-family: 'Nunito';
	font-size: 14px;
}

.current-campaign-item:last-child{
	padding-bottom: 50px;
}

.current-campaign-item > span{
	font-family: 'Nunito Bold';
}

.current-campaign-item > div {
	display: flex;
	margin-top: 12px;
}

.current-campaign-item > div > span{
	margin-right: 16px;
}

.current-campaign-item > div > div {
	display: flex;
	align-items: center;
	margin-right: 16px;
}

.current-campaign-item > div > div > img{
	margin-right: 4px;
}

.find-job-content-info-title{
	display: block;
	min-width: 150px;
}

.find-job-total-stats-item > span:last-child{
	max-width: 200px;
}

.find-job-popup-profile-content{
	padding-bottom: 12px;
}

.find-job-section-content-detail-suggest{
	margin-top: 16px;
	padding: 0;
}

.find-job-content-body-loadmore{
	display: flex;
	justify-content: center;
	margin-top: 16px;
}

.find-job-content-body-loadmore > span {
	margin-right: 6px;
	font-family: 'Nunito';
	font-size: 16px;
	color: #3E7BFA;
	cursor: default;
}

.find-job-content-body-loadmore > img {
	filter: invert(58%) sepia(62%) saturate(6178%) hue-rotate(206deg) brightness(99%) contrast(99%);
}


@media only screen and (max-width: 1152px){

	.find-job-popup-content {
		width: 100%;
	}
}

@media only screen and (max-width: 1025px) {

	.find-job-content-wrapper {
		width: 100%;
	}

	.find-job-section-row-item:nth-child(odd) {
		background-color: white;
	}

	.upper-section-col-1-parts-sections {
		width: unset;
	}

	.upper-section-col-1-parts-sections > div:nth-child(1) {
		min-width: 150px;
	}

	.send-quotation-total-influencer{
		margin-bottom: unset;
	}

	.send-quotation-content-section-table{
		padding: 0;
	}

}

@media only screen and (max-width: 760px){
	.find-job-star-rating {
		margin-top: unset;
	}

	.find-job-about-user-btn {
		margin-top: 12px;
	}
}

@media only screen and (max-width: 660px){

	.find-job-popup-content-body{
		display: flex;
		flex-direction: column;
	}

	.find-job-content-body{
		padding: 8px;
	}

	.find-job-all-jobs-item {
		flex-direction: column;
		padding: 12px 0;
	}

	.job-item-col-2 {
		margin-top: 12px;
	}

	.find-job-popup-content-body-upper-section{
		display: contents;
	}

	.content-body-upper-section-col-1{
		order: 1;
	}

	.about-user-left-find-job{
		order: 3;
		display: flex;
		margin-top: 0;
	}

	.about-user-left-find-job > img {
		width: 80px;
		height: 80px;
	}

	.about-user-left-find-job > div {
		margin-left: 8px;
	}

	.find-job-popup-content-body-below-section{
		order: 2;
	}

	.find-job-payment-method {
		align-items: flex-start;
	}

	.find-job-payment-method > img {
		margin-top: 4px;
	}

	.about-user-left-find-job-name{
		margin-top: 0;
	}

	.find-job-content-body-filter{
		padding-top: 12px;
	}

	#job-type-select{
		width: 32px;
		height: 32px;
		padding: 0;
		background-image: url('../../assets/icons/sort-btn.svg');
		font-size: 0;
		background-position: center;
		background-size: 100%;
		box-shadow: none;
	}

	#job-type-select option {
		font-size: 14px;
	}

	.filter-container > span {
		display: none;
	}

	.find-job-title {
		padding-left: 8px;
	}
}