.top-notification{
	background-color: #E5F0FF;
	width: 100%;
	height: 48px;
	display: flex;
	align-items: center;
	margin-top: 16px;
	border-left: solid 2px #0063F7;
	padding: 16px;
	font-family: 'Nunito';
	font-size: 12px;
}

.top-notification > img {
	margin-right: 16px;
}

.top-notification > span a {
	text-decoration: none;
	color: #0063F7;
	font-family: 'Nunito Bold';
}

.find-job-title {
	font-family: 'Nunito Bold';
	font-size: 20px;
	margin-top: 16px;
	color: #1C1C28;
}

.find-job-content-wrapper{
	width: 1004px;
	margin: auto;
	font-family: 'Nunito';
	margin-top: 16px;
}

.find-job-tabs-btn{
	display: flex;
	background: white;
	width: fit-content;
	border-bottom: solid 1px #E5F0FF;
	border-radius: 0 8px 0 0;
}

.find-job-tabs-btn-active {
	font-family: 'Nunito Bold';
	border-bottom: solid 2px #3E7BFA;
}

.find-job-tab-btn-item{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 156px;
	height: 40px;
	font-size: 14px;
	

}

.find-job-content-body{
	min-height: 600px;
	background: white;
	padding: 24px;
}

.find-job-content-body-filter{
	display: flex;
	justify-content: flex-end;
	font-size: 14px;
}

.find-job-content-body-filter{
	padding-bottom: 16px;
	border-bottom: solid 1px #60617029;
}

.filter-container span {
	margin-right: 8px;
}

#job-type-select{
	border: none;
    outline: none;
    color: #555770;
    font-size: 14px;
    font-family: 'Nunito Light';
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #FAFAFC;
    background-image: url(../../assets/icons/vuesax-linear-arrow-down.svg);
    background-repeat: no-repeat;
    background-position-x: 95%;
	background-position-y: 50%;
    width: 184px;
	height: 40px;
	padding: 8px;
	box-shadow: 0px 0.5px 2px #00000029;
	border-radius: 8px;
}

.find-job-all-jobs-item{
	display: flex;
	padding: 16px 0;
	justify-content: space-between;
	border-bottom: solid 1px #60617029;
}

.job-item-col-1{
	display: flex;
	flex-direction: column;
	max-width: 450px;
}

.job-item-col-title {
	font-family: 'Nunito Bold';
	font-size: 16px;
	color: #3E7BFA;
}

.job-item-col-title > span{
	font-family: 'Nunito Light';
}

.job-item-col-content{
	margin-top: 16px;
	font-size: 14px;
}

.job-item-col-2 {
	min-width: 300px;
}

.job-follow {
	width: 116px;
	height: 32px;
	border: solid 1px #3E7BFA;
	outline: none;
	border-radius: 8px;
	background: none;
	color: #3E7BFA;
	font-family: 'Nunito';
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.job-follow:focus{
	outline: none;
}

.job-follow	 > img {
	width: 16px;
	height: 16px;
	margin-right: 4px;
}

.time-and-author{
	font-family: 'Nunito';
	font-size: 14px;
	margin-top: 8px;
}

.post-time {
	color: #3E7BFA;
}

a.post-author{
	text-decoration: none;
}

.received-offer{
	font-family: 'Nunito';
	font-size: 14px;
	margin-top: 8px;
}

.received-offer > span {
	color: #3E7BFA;
}

.fixed-list-item{
	display: flex;
	font-family: 'Nunito';
	font-size: 14px;
}

.fixed-list-item-info{
	display: flex;
}

.fixed-list-item-info > div{
	margin-left: 16px;
	display: flex;
	align-items: center;
}

.fixed-list-item-info > div > img {
	width: 24px;
	height: 24px;
	margin-right: 4px;
}

.job-following{
	background: #0063F7;
	color: white;
	border: none;
	outline: none;
	border-radius: 8px;
	width: 146px;
	height: 32px;
	font-family: 'Nunito';
	font-size: 14px;
	box-shadow: 0px 2px 4px #60617029;
	display: flex;
	align-items: center;
	justify-content: center;
}

.job-following:focus{
	outline: none;
}

.job-following > img{
	width: 16px;
	height: 16px;
	margin-right: 8px;
}