/* navigation bar section  */

.navigation-wrapper {
    width: 100%;
    background: #3E7BFA;
    height: 48px;
    box-shadow: 0px 4px 8px #60617029;
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 0 24px;
    height: 48px;
}

.brand-logo {
    width: 84px;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: flex-end;
}

.menu-item {
    padding: 8px 24px;
    font-size: 14px;
    font-family: 'Nunito Bold';
    color: white;
    margin-left: 1px;
    margin-right: 1px;
    border-bottom: solid white 2px;
}

.message-notification {
    display: flex;
    align-items: center;
}

.right-section-item {
    margin: 0 10px;
    position: relative;
    cursor: pointer;
}

.notification-badge {
    position: absolute;
    background: red;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    width: 16px;
    height: 16px;
    text-align: center;
    left: 12px;
    top: 0;
    user-select: none;
}

.user {
    width: 32px;
    height: 32px;
}

.user img {
    border-radius: 50%;
}

.collapse-btn {
    display: flex;
    align-items: center;
    display: none;
    cursor: pointer;
}

.collapse-menu {
    position: absolute;
    top: 0;
    left: -300px;
    width: 260px;
    height: 640px;
    background: white;
    transition-duration: 500ms;
}

.collapse-menu-header {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 8px 16px;
}

.collapse-header-item {
    display: flex;
}

.collapse-menu-item {
    font-size: 14px;
    font-family: 'Nunito';
    color: #1C1C28;
    padding: 8px 16px;
    cursor: pointer;
}

.collapse-menu-item:hover {
    background: #3E7BFA;
    transition-duration: 300ms;
    color: white;
}

.show-collapse-menu {
    left: 0;
    z-index: 100;
}


/* navigation bar section end  */

@media only screen and (max-width: 730px) {
    .menu-item {
        padding: 8px 12px;
    }
}

@media only screen and (max-width: 660px) {
    .menu {
        display: none;
    }
    .message-notification {
        display: none;
    }
    .collapse-btn {
        display: flex;
    }
    .user {
        margin: 0;
    }
}