@import url(./header.css);
@import url(./footer.css);
@import url(./emptylist.css);
@import url(./listwithdata.css);
@import url(./seachnoresult.css);
@import url(./dashboard-client.css);
@import url(./dashboard-client-empty.css);
@import url(./dashboard-vendor.css);
@import url(./dashboard-vendor-empty.css);
@import url(./newcamp-cost.css);
@import url(./newcamp-list.css);
@import url(./newcamp-list-empty.css);
@import url(./post-management.css);
@import url(./find-job.css);
@import url(./send-file-quotation.css);
@import url(./pre-contract.css);
@import url(./send-offer.css);
@import url(./payment-state-vendor.css);
@import url(./chat-section.css);
@import url(./client-funding.css);
@import url(./notifications-page.css);
@import url(./user-profile.css);


@font-face {
    font-family: Nunito;
    src: url('/assets/fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: Nunito Bold;
    src: url('/assets/fonts/Nunito-Bold.ttf');
}

@font-face {
    font-family: Nunito Light;
    src: url('/assets/fonts/Nunito-Light.ttf');
}

@font-face {
	font-family: 'Nunito Bold Italic';
	src: url('../../assets/fonts/Nunito-BoldItalic.ttf');
}

html {
    height: -webkit-fill-available;
    scroll-behavior: smooth;
}

body {
    background: #EBEBF0;
    height: 100%;
    min-height: -webkit-fill-available;
}

.fluid-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}