.newcamp-empty-list-main-wrapper {
	position: relative;
}


/* empty table section  */

.empty-list-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 684px;
    height: 220px;
    margin-top: 40px;
}

.empty-img {
    width: 320px;
    height: 220px;
    padding: 16px;
    display: flex;
}

.empty-img>img {
    object-fit: contain;
    margin-left: 24px;
}

.empty-desc {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito';
    margin-left: 32px;
}

.empty-title {
    color: #3E7BFA;
    font-size: 20px;
    font-family: 'Nunito Bold';
}

.empty-text {
    font-size: 14px;
    margin-top: 8px;
}

.empty-btn {
    width: 136px;
    height: 32px;
    border: none;
    outline: none;
    background-color: #3E7BFA;
    color: white;
    border-radius: 8px;
    font-size: 12px;
    margin-top: 16px;
}

.empty-btn:focus {
	outline: none;
}

.selection-decision {
    margin-top: 8px;
    padding: 0 24px;
}

.decision-yes,
.decision-no {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.decision-yes>input,
.decision-no>input {
    margin-right: 8px;
    scale: 1.2;
}

.task-mobile,
.note-mobile {
    display: none;
    color: #1C1C28;
    font-family: 'Nunito';
    font-size: 12px;
}

.mobile-select-list {
    display: none;
}

/* attached file section fix  */

.attached-section-empty {
    display: flex;
    margin-top: 16px;
    align-items: center;
}

.attached-section-empty span {
    color: #555770;
    font-size: 14px;
    font-family: 'Nunito Bold';
}

.attached-section-empty>div>label {
    cursor: pointer;
    margin-left: 16px;
    font-size: 14px;
    font-family: 'Nunito';
    color: #3E7BFA;
}

.attached-section-empty>div>label>img {
    width: 16px;
    height: 16px;
}

.attached-section-empty>div>input[type="file"] {
    display: none;
}


/* btn-action-empty section fix  */

.btn-action-empty{
    margin-top: 16px;
}

.btn-action-empty>button {
    margin-right: 16px;
    outline: none;
    font-family: 'Nunito';
    font-size: 12px;
    border-radius: 8px;
}

.btn-action-empty>button:focus {
    outline: none;
}

.btn-action-empty-add, .mobile-select-list-empty {
    background-color: #3E7BFA;
    color: white;
    font-family: 'Nunito';
    font-size: 12px;
    width: 126px;
    height: 32px;
    border: none;
    order: 1;
}

.btn-action-empty-copy {
    order: 2;
}

.btn-action-empty-copy,
.btn-action-empty-task {
    color: #3E7BFA;
    width: 118px;
    height: 32px;
    background: white;
    border: solid 1px #3E7BFA;
}

.btn-action-empty-task {
    width: 194px;
    height: 32px;
    order: 3;
}

.btn-action-empty-delete {
    color: #FF3B3B;
    border: solid 1px #FF3B3B;
    width: 89px;
    height: 32px;
    background: none;
    order: 4;
}

.mobile-select-list-empty{
    display: none;
}

/* last step fix  */

.step6-box-empty{
    margin-top: 24px;
}


/* choose lists modal  */

#choose-lists-popup {
	position: fixed;
	top: -2000px;
	left: 0;
	height: 100vh;
	width: 100%;
	overflow-y: scroll;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
}

.choose-list-popup-content{
	width: 1023px;
	background: white;
	border-radius: 8px;
}

.choose-list-popup-content-header {
	display: flex;
	justify-content: space-between;
	font-family: 'Nunito Bold';
	font-size: 16px;
	color: #1C1C28;
	padding: 16px;
	border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.choose-item-to-add {
	width: 72px;
	height: 32px;
	border-radius: 8px;
	font-family: 'Nunito';
	font-size: 12px;
	color: white;
	background-color: #3E7BFA !important;
	outline: none;
}

.threedot-action-btn-cell-popup{
	width: unset !important;
}

.choose-list-popup-t-row > div {
	display: flex;
	align-items: center;
}







@media only screen and (max-width: 700px) {
    .empty-list {
        width: 100%;
    }
    .empty-btn {
        display: none;
    }
    .empty-img {
        width: 100%;
    }
    .empty-img>img {
        width: 100%;
    }

    /* attached file section fix  */
    .attached-section-empty{
        flex-direction: column;
        align-items: flex-start;
    }

    .attached-section-empty >div > label{
        margin-left: 0;
    }

    .empty-list-empty{
        width: 100%;
        flex-direction: column;
        height: unset;
    }

    .empty-list-empty > .empty-img{
        padding: 18px;
    }

    .empty-list-empty > .empty-img > img{
        margin-left: unset;
    }

    /* btn action section fix  */

    .btn-action-empty {
        display: flex;
        align-items: center;
        padding: 0;
        width: 100%;
    }

    .btn-action-empty-add {
       width: 50%;
    }

    .btn-action-empty-copy {
        display: none;
    }
    .btn-action-empty-task {
        order: 2;
    }
    .btn-action-empty-delete {
        display: none;
    }

    .btn-action-empty-task{
        display: none;
    }

    .mobile-select-list-empty{
        display: block;
        width: 50%;
    }

    /* sumary info section fix  */

    .sumary-info {
        display: none;
    }
}