@font-face {
    font-family: Nunito;
    src: url('/assets/fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: Nunito Semi Bold;
    src: url('/assets/fonts/Nunito-SemiBold.ttf');
}

@font-face {
    font-family: Nunito Bold;
    src: url('/assets/fonts/Nunito-Bold.ttf');
}

@font-face {
    font-family: Nunito Light;
    src: url('/assets/fonts/Nunito-Light.ttf');
}

@font-face {
    font-family: 'Nunito Italic';
    src: url('/assets/fonts/Nunito-Italic.ttf');
}

.mian-wrapper-post-managment{
	position: relative;
}

.post-management-container {
    margin-top: 24px;
}


.top-nav {
    display: flex;
    align-items: center;
    color: #3E7BFA;
    font-family: 'Nunito';
    font-size: 14px;
    max-width: fit-content;
    cursor: pointer;
}	

.top-nav img {
    width: 14px;
    height: 14px;
    margin-right: 4px;
}

.head-title {
    color: #1C1C28;
    font-size: 20px;
    font-family: 'Nunito Bold';
    margin-top: 8px;
}

.tabs-container {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tab-items-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: fit-content;
    border: solid 1px #3E7BFA;
    border-radius: 8px;
    margin: auto;
}

.btn-tab-item {
    width: 190px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito';
    font-size: 14px;
}

.btn-tab-item span {
    user-select: none;
}

.btn-tab-active {
    background-color: #3E7BFA;
    color: white;
    border: solid 1px #3E7BFA;
    border-radius: 6px;
}

.tabs-content-wrapper {
    width: 100%;
    height: auto;
    margin-top: 24px;
    box-shadow: 1px 1px 9px -1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 9px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 9px -1px rgba(0, 0, 0, 0.2);
}

.select-item-wrapper-mobile{
    display: none;
    width: 100%;
}

.select-item-wrapper-mobile select{
    height: 40px;
    background: #3E7BFA;
    color: white;
    font-family: 'Nunito';
    font-size: 14px;
    border-radius: 8px;
    border: none;
    outline: none;
    width: 100%;
    text-align: center;
    padding: 0 16px;
    appearance: none;
    background-image: url('../../assets/icons/vuesax-linear-arrow-down-white.svg');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 16px);
    background-position-y: center;
}

.select-item-wrapper-mobile > select > option{
    background-color: white;
    color: #555770;
    padding: 8px;
}



.post-view-content {
    background: white;
    border-radius: 8px;
    position: relative;
}

.post-view-content-section {
    border-bottom: solid 1px #60617029;
    padding: 24px 0;
}

.post-view-content-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-context-menu {
    list-style: none;
    font-size: 12px;
    font-family: 'Nunito';
    color: #1C1C28;
    position: absolute;
    right: -0;
    background-color: white;
    box-shadow: 0px 16px 24px #60617029;
    padding: 16px;
    border-radius: 4px;
    margin-top: 4px;
    width: 190px;
}

.header-context-menu-item {
    padding: 4px 0;
    transition-duration: 0.3s;
}

.header-context-menu-item:hover {
    transform: translateX(8px);
    transition-duration: 0.3s;
}

.header-context-menu-item img {
    margin-right: 4px;
}

.header-context-menu-item a {
    color: #1C1C28;
    text-decoration: none;
}

.post-view-content-section-header button {
    margin: 0 24px;
    width: 32px;
    height: 32px;
    outline: none;
    border: none;
    background: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.context-menu-btn-active {
    background-color: #CCDDFF !important;
}

.post-view-content-title {
    font-family: 'Nunito Bold';
    font-size: 16px;
    color: #1C1C28;
    padding: 0 24px;
}

.section-content-detail {
    font-size: 14px;
    color: #555770;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding: 0 24px;
}


.post-view-content-sub-title {
    font-family: 'Nunito Bold';
}

.influencer-and-task {
    display: flex;
}

.content-section-table {
    margin-top: 16px;
    box-shadow: 0 4px 2px -2px rgba(180, 180, 180, 0.4);
}


.section-table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E5F0FF;
    height: 56px;
    padding: 0 24px;
}

.influencer-col-header {
    min-width: 310px;
}

.influencer-col-header img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

.influencer-col-header a {
    text-decoration: none;
    color: #555770;
}

.type-col-header {
    min-width: 100px;
}

.channel-col-header {
    min-width: 60px;
}

.task-col-header {
    min-width: 132px;
}

.cost-col-header{
	min-width: 100px;
}

.note-col-header {
    min-width: 340px;
}

.section-table-row-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 48px;
    color: #555770;
    font-family: 'Nunito';
    font-size: 14px;
}

.invite-partners-container {
    width: 100%;
}

.partners-tabs-btn,
.cost-view-tabs-btn, .corp-view-tabs-btn {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px 8px 0 0;
    min-height: 40px;
    width: fit-content;
    border-bottom: solid 1px rgba(180, 180, 180, 0.4);
}

.tab-btn-item,
.cost-view-tabs-btn-item, .corp-view-tabs-btn-item {
    margin-right: 64px;
    color: #8F90A6;
    font-family: 'Nunito';
    font-size: 14px;
    padding: 12px;
    cursor: default;
}

.tab-btn-active {
    color: #1C1C28 !important;
    border-bottom: solid 2px #3E7BFA;
}

.partners-tabs-content,
.cost-view-tabs-content {
    background-color: white;
    border-radius: 0 8px 8px 8px;
    box-shadow: 1px 1px 9px -1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 9px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 9px -1px rgba(0, 0, 0, 0.2);
}

.partners-tabs-content-header,
.cost-view-tabs-content-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: solid 1px rgba(180, 180, 180, 0.4);
    padding: 16px;
}

.partners-tabs-content-header-search-bar,
.cost-view-tabs-content-header-search-bar {
    width: 450px;
    height: 40px;
    border-radius: 8px;
    border: solid 1px rgba(180, 180, 180, 0.4);
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Nunito';
    color: #8F90A6;
    font-size: 14px;
    margin-right: 24px;
}


.partners-tabs-content-header-search-bar input,
.cost-view-tabs-content-header-search-bar input {
    flex: 1;
    margin: auto 12px;
    padding: 0 12px;
    border: none;
    outline: none;
}

.partners-tabs-content-header button {
    width: 86px;
    height: 32px;
    border: solid 1px #3E7BFA;
    outline: none;
    border-radius: 8px;
    background: white;
    color: #3E7BFA;
    font-family: 'Nunito';
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partners-tabs-content-header button>img {
    margin-right: 4px;
    width: 16px;
    height: 16px;
}

.partners-list-item {
    display: flex;
    align-items: center;
    padding: 16px;
    flex: 1;
    border-bottom: solid 1px rgba(180, 180, 180, 0.4);
}

.partners-list-item-img img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.partners-list-item-detail {
    display: flex;
    flex-direction: column;
    padding: 16px;
    flex: 1;
}

.detail-username {
    font-family: 'Nunito Bold';
    font-size: 20px;
    color: #28293D;
}

.detail-workplace {
    font-family: 'Nunito Light';
    font-size: 14px;
    color: #28293D;
}

.detail-history {
    display: flex;
    align-items: center;
    color: #555770;
    font-size: 14px;
    font-family: 'Nunito';
	margin-top: 8px;
}

.detail-history img {
    margin-right: 4px;
}

.detail-history-related {
    font-family: 'Nunito Bold';
}

.detail-action-btn {
    display: flex;
    align-items: center;
}

.detail-action-btn img {
    margin-right: 24px;
}

.detail-action-btn button {
    width: 112px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #3E7BFA;
    border: none;
    outline: none;
    border-radius: 8px;
    font-family: 'Nunito';
    font-size: 12px;
}

.partners-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.partners-pagination-pages {
    display: flex;
    align-items: center;
}

.partners-pagination-page-item {
    font-family: 'Nunito';
    font-size: 12px;
    color: #8F90A6;
    margin: 12px;
}

.partners-pagination-page-item a {
    color: #8F90A6;
}

.partners-pagination-prev-btn,
.partners-pagination-next-btn {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 1px 1px 9px -1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 9px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 9px -1px rgba(0, 0, 0, 0.2);
}

.partners-pagination-prev-btn {
    margin-right: 42px;
}

.partners-pagination-next-btn {
    margin-left: 42px;
}

.partners-pagination-prev-btn img {
    width: 20%;
}

.partners-pagination-next-btn img {
    width: 20%;
    transform: scale(-1);
}

.current-page-number a {
    color: #3E7BFA !important;
    font-family: 'Nunito Bold';
}

.cost-view-tabs-content-header-sort-by {
    display: flex;
    margin-left: 48px;
    align-items: center;
}

.cost-view-tabs-content-header-sort-by span {
    font-size: 14px;
    font-family: 'Nunito';
    color: #555770;
    margin-right: 8px;
}

.cost-view-select-wrapper {
    background-color: #FAFAFC;
    box-shadow: 0px 0.5px 2px #00000029;
    padding: 10px 8px;
    border-radius: 8px;
    min-width: 240px;
}

.cost-view-select-wrapper select {
    border: none;
    outline: none;
    color: #555770;
    font-size: 14px;
    font-family: 'Nunito Light';
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    background: none;
    background-image: url('../../assets/icons/vuesax-linear-arrow-down.svg');
    background-repeat: no-repeat;
    background-position-x: 100%;
    width: 100%;
}

.cost-view-tabs-content-body{
	padding: 16px 0;
}

.cost-view-tabs-content-item{
	display: flex;
	align-items: center;
	padding: 16px;
	border-bottom: solid 1px rgba(180, 180, 180, 0.4);
}

.cost-view-tabs-content-item-avt img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

.cost-view-tabs-content-item-detail{
	padding: 0 16px;
}

.item-detail-header {
	display: flex;
	justify-content: space-between;
}

.item-detail-header-username{
	font-size: 14px;
	font-family: 'Nunito';
	display: flex;
	align-items: center;
}

.item-detail-header-username :nth-child(1){
	font-family: 'Nunito Bold';
	font-size: 16px;
	margin-right: 12px;
}


.send-mes-btn{
	width: 96px;
	height: 32px;
	border: solid 1px #3E7BFA;
	border-radius: 8px;
	color: #3E7BFA;
	font-family: 'Nunito';
	font-size: 12px;
	background: none;
	outline: none;
}

.corporate-btn, .unhide-btn{
	width: 92px;
	height: 32px;
	color: white;
	font-size: 12px;
	font-family: 'Nunito';
	border: none;
	background-color: #3E7BFA;
	border-radius: 8px;
	outline: none;
}

.send-mes-btn:focus, .corporate-btn:focus{
	outline: none;
}


.item-detail-sumary{
	display: flex;
	font-family: 'Nunito';
	font-size: 14px;
	margin-top: 16px;
}

.item-detail-sumary div{
	margin-right: 16px;
	display: flex;
	align-items: center;
}

.item-detail-sumary > div > span > span{
	font-family: 'Nunito Bold';
}

.item-detail-sumary > div > img{
	margin-right: 4px;
}

.item-detail-letter{
	font-family: 'Nunito';
	font-size: 14px;
	color: #555770;
	margin-top: 16px;
}

.letter-title{
	font-family: 'Nunito Bold';
	display: block;
}

.cost-in-detail-list{
	padding: 0 24px;
}

.corp-view-tabs-content-item {
	display: flex;
	padding: 16px;
}

.content-item-user-avt img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

.content-item-user-header {
	display: flex;
	justify-content: space-between;	
}

.content-item-user-header > span {
	font-family: 'Nunito Bold';
	font-size: 20px;
}

.content-item-user-header > div img, button{
	margin-right: 16px;
}

.content-item-user-detail {
	padding-left: 16px;
	width: 100%;
}

.sent-offer-time {
	display: flex;
	align-items: center;
	font-family: 'Nunito';
	font-size: 14px;
	margin-top: 8px;
}

.sent-offer-time img {
	margin-right: 4px;
}

.cost-view-tabs-content-item-detail {
	width: 100%;
}

.item-detail-letter {
	max-width: 600px;
}



/* modal section  */
.popup-show {
	top: 0 !important;
	opacity: 1 !important;
	transition-duration: 0.3s;
}

#cost-popup {
	min-height: 100vh;
	width: 100%;
	position: absolute;
	top: -2000px;
	left: 0;
	background: #555770;
	z-index: 888;
	transition-duration: 0.3s;
	opacity: 0;
	
}

#cost-popup > .cost-popup-content {
	width: 1080px;
	min-height: 100vh;
	background: #E4E4EB;
	margin: auto;
}

#cost-popup > .cost-popup-content > .cost-popup-header {
	background-color: #FFFFFF;
	height: 64px;
	width: 100%;
	display: flex;
	align-items: center;
	font-family: 'Nunito Bold';
	padding: 24px;
}

#cost-popup > .cost-popup-content > .cost-popup-header > img {
	transform: rotate(90deg);
}

#cost-popup > .cost-popup-content > .cost-popup-header > span {
	cursor: pointer;
}

.about-user {
	display: flex;
	border-bottom: solid 1px rgba(180, 180, 180, 0.4);
}

.about-user-left {
	min-width: 344px;
	display: flex;
	flex-direction: column;
	padding: 24px;
	font-size: 14px;
	font-family: 'Nunito';
	border-right: solid 1px rgba(180, 180, 180, 0.4);
}

.about-user-left img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

.about-user-left-user-avt{
	cursor: pointer;
}

.about-user-left-username{
	font-family: 'Nunito Bold';
	font-size: 20px;
	color: #28293D;
	margin-bottom: 8px;
	cursor: pointer;
}

.star-rating {
	display: flex;
}

.star-rating span{
	padding-top: 3px;
}

.rating-value {
	font-family: 'Nunito Bold' !important;
}

.success-campaign {
	margin-bottom: 12px;
}

#success-bar {
	height: 16px;
	width: 90px;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	border-radius: 4px;
	overflow: hidden;
	margin-right: 12px;
	margin-top: 2px;
}

progress[value]::-webkit-progress-bar{
	background-color: #C7C9D9;
}

progress[value]::-webkit-progress-value{
	background-color: #0063F7;
}	

.shortlist-btn {
	width: 94px;
	height: 32px;
	background-color: transparent;
	color: #0063F7;
	border: solid 1px #0063F7;
	border-radius: 8px;
	font-family: 'Nunito';
	font-size: 12px;
	outline: none;
}

.corp-btn {
	width: 92px;
	height: 32px;
	background-color: #0063F7;
	color: white;
	border-radius: 8px;
	font-family: 'Nunito';
	font-size: 12px;
	border: none;
	outline: none;
}

.shortlist-btn:focus, .corp-btn:focus {
	outline: none;
}

.about-user-right {
	padding: 24px;
}

.about-user-right span {
	display: block;
}

.letter-content {
	font-family: 'Nunito';
	font-size: 14px;
}

.letter-title-right, .letter-content-right{
	margin-bottom: 16px;
}

#feedback-to-user{
	width: 100%;
	height: 120px;
	outline: none;
	border: none;
	border-radius: 8px;
	padding: 16px;
	font-family: 'Nunito';
	font-size: 14px;
	resize: none;
	margin-top: 8px;
}

.word-counter{
	font-family: 'Nunito Light';
	font-size: 12px;
	color: #555770;
	text-align: end;
}

.send-message{
	width: 116px;
	height: 32px;
	border: solid 1px #3E7BFA;
	color: #3E7BFA;
	font-family: 'Nunito';
	font-size: 14px;
	border-radius: 8px;
	outline: none;
	background-color: white;
	float: right;
	margin-top: 16px;
}

.cost-in-detail-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px;
}
.cost-item-detail-sumary {
	margin-top: unset;
}

.cost-in-detail-message{
	background-color: #E5F0FF;
	border-left: solid 2px #3E7BFA;
	font-family: 'Nunito';
	font-size: 12px;
	color: #1C1C28;
	padding: 18px;
	margin: 0 24px;
}

.cost-in-detail-message img {
	margin-right: 18px;
}

.cost-in-detail-intro {
	display: flex;
	justify-content: space-between;
	padding: 24px;
}

.cost-in-detail-intro img {
	margin-right: 8px;
	width: 64px;
	height: 64px;
}

.cost-in-detail-intro > div {
	display: flex;
	font-size: 14px;
	font-family: 'Nunito';
	color: #555770;
	max-width: 280px;
}

.cost-in-detail-intro > div span:nth-child(1) {
	font-family: 'Nunito Bold';
}

.cost-in-detail-intro > div span {
	display: block;
}

.total-cost-bar {
	height: 51px;
	background-color: #E5F0FF;
	display: flex;
	align-items: center;
	font-family: 'Nunito';
	font-size: 14px;
	color: #1C1C28;
	padding: 0 24px;
	display: flex;
	align-items: center;
}

.total-cost-bar > span{
	margin-left: 486px;
}

.popup-influencer-col-header{
	min-width: 280px;
}

.cost-in-detail-protected-payment {
	padding: 24px;
}

.protected-payment{
	max-width: unset !important;
}


#popup-profile {
	position: fixed;
	top: -2000px;
	left: 0;
	transition-duration: 0.3s;
	opacity: 0;
	width: 100%;
	min-height: 100vh;
	background-color: #555770;
	z-index: 999;
	display: flex;
}

.popup-profile-body {
	height: 560px;
	overflow-y: scroll;
	background-color: #FAFAFC;
}

.popup-profile-content{
	width: 808px;
	background: white;
	border-radius: 8px;
	margin: auto;
	position: relative;
}

.popup-profile-content-header{
	display: flex;
	padding: 24px;
	border-bottom: solid 1px rgba(180, 180, 180, 0.4);
	position: sticky;
	top: 0;
	left: 0;
}

#close-profile-popup-btn{
	position: absolute;
	top: 24px;
	right: 24px;
	cursor: pointer;
}

.popup-profile-content-header-avt img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin-right: 24px;
}

.popup-profile-content-header-username > div {
	display: flex;
}

.popup-profile-content-header-username > div > span {
	font-family: 'Nunito Bold';
	font-size: 20px;
	color: #28293D;
	margin-right: 24px;
}

.popup-profile-content-header-username > span {
	font-family: 'Nunito Light';
	font-size: 14px;
	color: #28293D;
}

.popup-profile-content-info {
	padding: 0 24px;
	display: flex;
	align-items: flex-start;
	border-bottom: solid 1px rgba(180, 180, 180, 0.4);
}

.body-info-section {
	border-bottom: solid 1px rgba(180, 180, 180, 0.4);
}

.content-info-title {
	display: block;
	width: 120px;
	padding: 24px 0;
	min-width: 120px;
	font-family: 'Nunito Bold';
}

.content-info-detail {
	padding: 24px;
}

.offer-message {
	font-family: 'Nunito';
	font-size: 14px;
	padding: 24px 0;
	border-bottom: solid 1px rgba(180, 180, 180, 0.4);
}

.rating-and-time {
	font-size: 14px;
	font-family: 'Nunito';
	display: flex;
	justify-content: space-between;
}

.rating-and-time > span > span {
	font-family: 'Nunito Bold';
}

.profile-star-rating {
	font-size: 20px !important;
}

.total-stats {
	display: flex;
	padding: 16px 0;
}

.total-stats-item {
	display: flex;
	flex-direction: column;
	margin-right: 24px;
}

.total-stats-item span:nth-child(1) {
	font-family: 'Nunito Bold';
	font-size: 32px;
	color: #28293D;
}

.total-stats-item span:nth-child(2) {
	font-family: 'Nunito';
	font-size: 16px;
	color: #28293D;
}

.rating-comment {
	font-family: 'Nunito Italic';
	font-size: 14px;
	color: #28293D;
}

.campaign-name-and-time {
	font-size: 14px;
	font-family: 'Nunito Light';
	display: flex;
	flex-direction: column;
	margin-top: 16px;
}

.campaign-name-info {
	font-family: 'Nunito Bold';
}

.show-more-content-btn {
	display: flex;
	justify-content: center;
	padding: 12px;
}

.show-more-content-btn button{
	outline: none;
	border: solid 1px #0063F7;
	border-radius: 8px;
	width: 150px;
	height: 32px;
	color: #0063F7;
	background-color: white;
	font-family: 'Nunito';
	font-size: 12px;
}

.featured-campaign {
	margin-top: 24px;
}

.campaign-list-item {
	display: flex;
	padding: 24px;
	font-family: 'Nunito';
	font-size: 14px;
	border-bottom: solid 1px rgba(180, 180, 180, 0.4);
}


.campaign-list-item:last-child{
	border-bottom: none;
}

.campaign-img img {
	width: 150px;
	height: 100px;
	margin-right: 16px;
}

.about-campaign {
	font-family: 'Nunito Bold';
}

.testimonial-list {
	padding: 24px;
}

.testimonial-list-item {
	font-size: 14px;
	font-family: 'Nunito';
	border-bottom: solid 1px rgba(180, 180, 180, 0.4);
	padding: 12px 0;
}

.item-fields {
	display: flex;
	padding: 4px;
}

.testimonial-list-item span:nth-child(1) {
	font-family: 'Nunito Bold';
	min-width: 120px;

}




/* stars rating css  */
div.stars {
	width: fit-content;
	display: flex;
	align-items: center;
	margin-right: 12px;
  }
   
  input.star { display: none; }
   
  label.star {
	float: right;
	font-size: 14px;
	padding: 0 1px;
	color: #28293D;
	transition: all .2s;
  }
   
  input.star:checked ~ label.star:before {
	content: '\f005';
	color: #0063F7;
	transition: all .25s;
  }

   
  label.star:before {
	content: '\f006';
	font-family: FontAwesome;
  }










@media only screen and (max-width: 1024px) {

    .top-nav {
        padding: 8px    ;
    }

    .head-title {
        padding: 8px;
    }

    .tabs-container {
        padding: 8px;
    }

    .tab-items-wrapper{
        width: 100%;
    }

    .btn-tab-item{
        width: 25%;
    }

    .content-section-table{
        padding: 24px;
        box-shadow: none;
    }

    .section-table-header {
        display: none;
    }

    .section-table-row {
        display: grid;
        grid-template-columns: auto auto;
        grid-auto-rows: auto;
        row-gap: 16px;
        column-gap: 16px;
    }

    .section-table-row-item {
        display: grid;
        width: auto;
        height: auto;
        min-height: 132px;
        background-color: #FAFAFC;
        box-shadow: 0px 2px 4px #00000029;
        border-radius: 16px;
        padding: 16px;
        position: relative;
    }

    .influencer-col-header {
        min-width: unset;
        display: flex;
        position: absolute;
        top: 8px;
        left: 8px;
    }

    .influencer-col-header img{
        width: 44px;
        height: 44px;
    }

    .type-col-header {
        min-width: unset;
        position: absolute;
        top: 30px;
        left: 60px;
    }

    .channel-col-header {
        min-width: unset;
        position: absolute;
        top: 64px;
        left: 78px;
    }

    .channel-col-header img {
        width: 24px;
        height: 24px;
    }

    .task-col-header{
        min-width: unset;
        position: absolute;
        top: 64px;
        left: 114px;
    }

    .note-col-header {
        position: absolute;
        top: 108px;
        left: 78px;
        min-width: unset;
    }

    .note-col-header span {
        display: inline-block;
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .post-task-mobile, .note-task-mobile{
        display: block;
    }

    .post-task-mobile {
        top: 68px;
        left: 8px;
    }

    .note-task-mobile {
        top: 108px;
        left: 8px;
    }

    
}

@media only screen and (max-width: 760px){

    .tab-items-wrapper {
        display: none;
    }

    .select-item-wrapper-mobile{
        display: block;
    }

    .section-table-row{
        grid-template-columns: auto;
    }

    .post-total-influencer{
        margin-bottom: 0;
    }

    .content-section-table {
        padding: 8px;
    }
}