@font-face {
    font-family: Nunito;
    src: url('/assets/fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: Nunito Semi Bold;
    src: url('/assets/fonts/Nunito-SemiBold.ttf');
}

@font-face {
    font-family: Nunito Bold;
    src: url('/assets/fonts/Nunito-Bold.ttf');
}

@font-face {
    font-family: Nunito Light;
    src: url('/assets/fonts/Nunito-Light.ttf');
}

.post-management-container{
    padding: 24px 0;
}

.top-nav{
    display: flex;
    align-items: center;
    color: #3E7BFA;
    font-family: 'Nunito';
    font-size: 14px;
    max-width: fit-content;
    cursor: pointer;
}

.top-nav img{
    width: 14px;
    height: 14px;
    margin-right: 4px;
}

.head-title{
    color: #1C1C28;
    font-size: 20px;
    font-family: 'Nunito Bold';
    margin-top: 8px;
}

.tabs-container{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tab-items-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: fit-content;
    border: solid 1px #3E7BFA;
    border-radius: 8px;
    margin: auto;
}

.btn-tab-item{
    width: 190px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito';
    font-size: 14px;
}

.btn-tab-active{
    background-color: #3E7BFA;
    color: white;
    border: solid 1px #3E7BFA;
    border-radius: 6px;
}

.tabs-content-wrapper{
    width: 100%;
    height: auto;
    margin-top: 24px;
}

.post-view-content{
    background: white;
    border-radius: 8px;
    padding: 24px;
}

.post-view-content-section{
    border-bottom: solid 1px #60617029;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.post-view-content-title{
    font-family: 'Nunito Bold';
    font-size: 16px;
    color: #1C1C28;
}

.section-content-detail{
    font-size: 14px;
    color: #555770;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}


.post-view-content-sub-title{
    font-family: 'Nunito Bold';
}

.influencer-and-task{
    display: flex;
}

.section-table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.influencer-col-header{
    min-width: 310px;
}

.influencer-col-header img{
    width: 24px;
    height: 24px;
}

.influencer-col-header a{
    text-decoration: none;
}

.type-col-header{
    min-width: 70px;
}

.channel-col-header{
    min-width: 60px;
}

.task-col-header{
    min-width: 132px;
}

.note-col-header{
    min-width: 340px;
}

.section-table-row-item{
    display: flex;
}