.user-profile-main-wrapper{
    margin-top: 32px;
}

.user-profile-title{
    font-size: 28px;
    font-family: 'Nunito';
    font-weight: 700;
    color: #1C1C28;
    display: block;
    margin-bottom: 24px;
}

.user-profile-content{
    display: flex;
    justify-content: space-between;
}

.user-profile-tabs{
    width: 270px;
    user-select: none;
}

.tab-profile{
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0 4px;
    margin-bottom: 4px;
}

.tab-profile img{
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.tab-profile-active{
    background: #C7C9D9;
    border-radius: 4px;
}

.user-profile-tab-content, .account-and-transaction-tab-content, .password-and-security-tab-content, .profile-general-settings-tab-content{
    width: 858px;
    background: #FAFAFC;
    border-radius: 8px;
    padding: 24px;
}

.tab-profile-information-content{
    border-bottom: solid 1px #C7C9D9;
    padding-bottom: 24px;
    width: 100%;
}

.tab-profile-information-content:nth-child(2), 
.tab-profile-information-content:nth-child(3){
    margin-top: 24px;
}

.tab-profile-information-content:nth-child(3){
    border-bottom: none;
    padding-bottom: 0;
}

.tab-profile-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.tab-profile-header span{
    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
}

.tab-profile-header button{
    width: 111px;
    height: 32px;
    color: #3E7BFA;
    border-radius: 8px;
    border: solid 1px #3E7BFA;
    background: white;
    outline: none;
}

.profile-information-content{
    display: flex;
}

.information-content-detail{
    width: 60%;
    font-family: 'Nunito';
    font-size: 14px;
    color: #28293D;
}

.content-detail-item{
    display: flex;
}

.content-detail-item span{
    display: block;
}

.content-detail-item span:first-of-type{
    min-width: 120px;
    margin-bottom: 12px;
}

.content-detail-item span:nth-child(2){
    margin-left: 16px;
}

.information-content-user{
    padding-left: 24px;
    display: flex;
    flex-direction: column;
}


.information-content-user span{
    display: block;
    margin-bottom: 8px;
}

.information-content-user span{
    font-size: 14px;
    font-family: 'Nunito';
    color: #28293D;
}

.information-content-avt{
    width: 96px;
    height: 96px;
}

.information-content-avt img{
    width: 100%;
    border-radius: 50%;
}

.cccd{
    margin-bottom: 16px;
}

.personal-information-edit-container{
    display: flex;
}

#personal-information-edit{
    display: flex;
    flex-direction: column;
    width: 60%;
    font-family: "Nunito";
    font-size: 14px;
}

#personal-information-edit label{
    font-size: 12px;
}

#personal-information-edit input, .enterprise-information-edit-fields input{
    height: 40px;
    border-radius: 8px;
    border: solid 1px #C7C9D9;
    padding: 0 12px;
    border-radius: 8px;
    box-shadow: 0px 0.5px 4px 0px rgba(96, 97, 112, 0.32) inset;
    margin-bottom: 12px;
    outline: none;
}

#personal-information-edit textarea{
    height: 88px;
    border-radius: 8px;
    border: solid 1px #C7C9D9;
    box-shadow: 0px 0.5px 4px 0px rgba(96, 97, 112, 0.32) inset;
    resize: none;
    padding: 12px;
    font-family: 'Nunito';
    outline: none;
}

.edit-user-avt{
    position: relative;
}

#choose-file-indicator::before{
    content: '';
    width: 96px;
    height: 96px;
    display: block;
    background: black;
    border-radius: 50%;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
}

.file-indicator{
    position: absolute;
    top: 36px;;
    left: 0;
    width: 24px;
    height: 24px;
}

.enterprise-information-edit, .enterprise2-information-edit{
    display: flex;
    font-size: 14px;
    font-family: 'Nunito';
}

.enterprise-information-edit-fields{
    width: 60%;
    display: flex;
    flex-direction: column;
}


.enterprise-information-edit-fields label{
    font-size: 12px;
}

.identify-wrapper{
    display: flex;
    flex-direction: column;
}

.front-side-label, .back-side-label, .company-cert-label{
    width: 150px;
    height: 95px;
    border: dashed 2px gray;
    border-radius: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-top: 16px;
    cursor: pointer;
    transition-duration: 300ms;
}

.front-side-label:hover, .back-side-label:hover, .company-cert-label:hover{
    background: rgba(96, 97, 112, 0.12);
}

.front-side-label::after{
    content: 'Mặt trước';
    margin-left: 4px;
}

.back-side-label::after{
    content: 'Mặt sau';
    margin-left: 4px;
}

.company-cert-label{
    margin-top: 24px;
    margin-left: 24px;
}

.account-content-detail-title, .transaction-history-header-title{
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: 700;
}

.account-amount{
    display: flex;
    margin-top: 24px;
    border-bottom: solid 1px #C7C9D9;
    padding-bottom: 24px;
}

.account-amount-item{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: 'Nunito';
}

.account-amount-item span:first-child{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

.account-amount-item span:nth-child(2){
    font-size: 24px;
    font-weight: 700;
}

.account-amount-item button{
    height: 32px;
    padding: 0 24px;
    color: #3E7BFA;
    border: solid 1px #3E7BFA;
    border-radius: 8px;
    width: fit-content;
    background-color: white;
    margin-top: 16px;
    outline: none;
}

.transaction-history{
    margin-top: 24px;
    font-family: 'Nunito';
}

.transaction-history-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.transaction-history-content-tabs{
    display: flex;
    justify-content: center;
    width: fit-content;
}

.transaction-history-content-tab-item{
    display: block;
    padding: 4px 32px;
    border-bottom: solid 2px #C7C9D9;
}

.history-content-tab-active{
    border-bottom: solid 2px #3E7BFA;
}

.transaction-detail-table{
    font-family: 'Nunito';
    font-size: 14px;
    margin-top: 16px;
}

.transaction-table-header{
    display: flex;
    background: #E5F0FF;
    height: 56px;
    align-items: center;
    padding: 0 16px;
}

.table-col-date{
    width: 20%;
}

.table-col-detail{
    width: 50%;
}

.table-col-detail>div{
    display: flex;
    flex-direction: column;
}

.table-col-state{
    width: 15%;
}

.table-col-amount{
    width: 25%;
}

.transaction-table-row{
    display: flex;
    padding: 16px;
    font-size: 12px;
}

.transaction-table-row:nth-child(odd){
    background: #F2F2F5;
}

.nav-backward{
    color: #3E7BFA;
    width: fit-content;
    font-family: 'Nunito';
    margin-bottom: 8px;
    user-select: none;
}

.nav-backward img{
    margin-right: 4px;
}

.password-change-form{
    margin-top: 24px;
    font-family: 'Nunito';
}

.pw-change-item{
    margin-bottom: 24px;
    flex-direction: column;
}

.pw-change-item span{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
}

.pw-change-item div{
    width: 442px;
    height: 40px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid #C7C9D9;
    box-shadow: 0px 0.5px 4px 0px rgba(96, 97, 112, 0.32) inset;
}

.pw-change-item div > input{
    border: none;
    outline: none;
    background: none;
}

#update-password{
    width: 167px;
    height: 32px;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    background: #3E7BFA;
    border: none;
}

#update-password:focus{
    outline: none;
}

#tab-profile-selection {
    background: #C7C9D9;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito';
    border-radius: 4px;
    outline: none;
    border: none;
    height: 32px;
    display: none;
    align-items: center;
    width: 266px;
    padding: 0 12px;
    margin-bottom: 16px;
}

@media only screen and (max-width: 1025px){
    .user-profile-main-wrapper{
        margin: 32px 0 0 0;
    }

    .tab-profile{
        display: none;
    }

    .user-profile-content{
        flex-direction: column;
        padding: 16px;
    }

    #tab-profile-selection{
        display: flex;
    }

    .user-profile-title{
        margin-left: 16px;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 860px){

    .user-profile-tab-content, .account-and-transaction-tab-content, .password-and-security-tab-content, .profile-general-settings-tab-content{
       width: 100%;
    }
}

@media only screen and (max-width: 670px){

    .user-profile-content{
        padding: 0;
    }

    .user-profile-tabs{
        width: 100%;
    }

    #tab-profile-selection{
        width: calc(100% - 32px);
        margin: 16px;
    }

    .tab-profile-information-content{
        display: flex;
        flex-direction: column;
    }

    .tab-profile-header{
        display: contents;
    }

    .tab-profile-header span{
        margin-bottom: 24px;
    }

    .tab-profile-header button{
        order: 1;
    }

    #information-content-detail{
        flex-direction: column;
    }

    #information-content-user-avt{
        flex-direction: row;
        margin-top: 16px;
    }

    #information-content-user-avt span{
        min-width: 120px;
    }

    .information-content-detail{
        width: 100%;
    }
    
    .profile-information-content{
        flex-direction: column;
    }

    .information-content-user{
        padding-left: 0;
    }

    .information-content-avt{
        margin-left: 16px;
    }

    .button-edit-profile-information{
        margin-top: 24px;
        width: 100% !important;
    }

    .tab-profile-content{
        padding: 16px;
    }

    .account-amount{
        flex-direction: column;
    }

    .account-amount-item{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    .account-amount-item:nth-child(2){
        margin-top: 16px;
    }

    .account-amount-item span:first-child{
        grid-column: 1/2;
        grid-row: 1/2;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .account-amount-item button{
        grid-column: 2/2;
        grid-row: 1/2;
        margin: 0;
        margin-left: auto;
    }

    .transaction-table-header{
        display: none;
    }
    
    .transaction-history-content-tabs{
        width: 100%;
    }

    .transaction-history-content-tabs span{
        width: 50%;
    }

    .transaction-table-row{
        flex-direction: column;
        background: #F2F2F5;
        margin-bottom: 16px;
    }

    .transaction-table-row:last-child{
        margin-bottom: 0;
    }

    .transaction-table-row > .table-col-date, .transaction-table-row > .table-col-detail, .transaction-table-row > .table-col-state, .transaction-table-row > .table-col-amount{
        display: flex;
        width: 100%;
        margin-bottom: 12px;
    }

    .card-label{
        min-width: 120px;
    }

    .pw-change-item div{
        width: 100%;
    }
}