@font-face {
    font-family: Nunito;
    src: url('/assets/fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: Nunito Semi Bold;
    src: url('/assets/fonts/Nunito-SemiBold.ttf');
}

@font-face {
    font-family: Nunito Bold;
    src: url('/assets/fonts/Nunito-Bold.ttf');
}

@font-face {
    font-family: Nunito Light;
    src: url('/assets/fonts/Nunito-Light.ttf');
}

@font-face {
    font-family: RobotoSlab;
    src: url('/assets/fonts/RobotoSlab-Medium.ttf');
}

@font-face {
    font-family: RobotoSlab Bold;
    src: url('/assets/fonts/RobotoSlab-Medium.ttf');
}

*{
    margin: 0;
    padding: 0;
}

.wrapper {
    background-image: url('/assets/images/hero_shot_dark.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.top-section {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.top-logo {
    position: absolute;
    top: 16px;
    left: 124px;
    width: 122px;
    height: 48px;
}

.top-logo img {
    width: 100%;
}

.choice-section {
    width: 612px;
    height: 341px;
    background-color: white;
    box-shadow: 0px 20px 32px #60617029;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.choice-body{
    display: flex;
    flex: 1;
    margin: 0 12px;
}


.choice-title {
    color: #3E7BFA;
    font-family: 'Nunito Bold';
    font-size: 24px;
    letter-spacing: -0.01;
    margin: 32px auto;

}

.choice-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 12px;
}

.choice-item button{
    height: 47px;
    width: 100%;
    border: 1px solid #3E7BFA;
    border-radius: 8px;
    background-color: white;
    color: #3E7BFA;
    transition-duration: 0.3s;
    font-size: 20px;
    font-family: 'Nunito';
    font-weight: 600;
    margin-bottom: 24px;
}

.choice-item button:hover {
    color: white;
    border: 1px solid none;
    background-color: #3E7BFA;
    transition-duration: 0.3s;
}

.choice-item span{
    color: #1C1C28;
    font-size: 14px;
    font-family: 'Nunito';
    margin-bottom: 24px;
}



.choice-footer{
    padding: 24px 0 32px 0;
    margin: 0 24px;
    text-align: center;
    font-family: 'Nunito';
    border-top: solid 1px rgba(0,0,0,0.15);
}

.choice-footer a{
    color: #3E7BFA;
    font-family: 'Nunito Bold';
    text-decoration: none;
}

.bottom-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 124px;
}

.bottom-logos{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 56px;
}

.bottom-logos img {
    width: 160px;
    margin: 24px 12px;
}

.bottom-section-text{
    font-size: 32px;
    color: #3E7BFA;
    font-family: 'RobotoSlab Bold';
    text-align: center;
}

.bottom-section-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 32px;
}

.bottom-section-info-item {
    width: 368px;
    display: flex;
    flex-direction: column;
    margin: 12px;
}

.bottom-section-info-item img {
    width: 48px;
    margin-bottom: 8px;
}

.bottom-section-info-item img:hover{
    filter: invert(53%) sepia(95%) saturate(4069%) hue-rotate(207deg) brightness(99%) contrast(98%);
}

.bottom-section-info-item span {
    color: #555770;
    font-size: 24px;
    font-family: 'Nunito';
    margin-bottom: 8px;
}

.bottom-section-info-item p {
    color: #555770;
    font-family: 'Nunito';
    font-size: 16px;
}


/* footer  */
.footer{
    height: 109px;
    background: #3E7BFA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.social{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.brand-slogan{
    display: flex;
    justify-content: flex-start;
    color: white;
    font-family: 'Nunito';
    font-size: 12px;
}

.policy{
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Nunito';
    font-size: 12px;
}

.policy-link a{
    color: white;
    text-decoration: none;
    margin: 0 20px;
}



@media only screen and (max-width: 800px) {
    .bottom-section {
        padding: 56px 24px;
    }

}


@media only screen and (max-width: 660px) {

.wrapper {
    background-position-x: center;
}

.top-section {
    background-color: transparent;
    backdrop-filter: none;
}

.top-logo {
    top: 24px;
    left: 8px;
}

.choice-body {
    flex-direction: column;
}

.choice-item span {
    display: none;
}

.choice-item button:focus {
    outline: none;
}


.bottom-section {
    padding: 56px 0;
}

.bottom-section-text {
    text-align: center;
    padding: 0 4px;
}

.bottom-logos {
    flex-wrap: wrap;
    height: unset;
}

.bottom-logos img {
    margin: 24px 4px;
}

.bottom-section-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bottom-section-info-item {
    justify-content: center;
    align-items: center;
}


.footer{
    justify-content: center;
    height: unset;
    padding: unset;
    margin-top: 16px;
}

.social{
    justify-content: center;
    margin: 28px auto 8px auto;
}

.brand-slogan{
    justify-content: center;
}

.policy{
    flex-direction: column;
    justify-content: center;
}

.trademark{
    text-align: center;
    margin-bottom: 24px;
}

.policy-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    background: #3568D4;
    padding: 16px;
}
}